html,
body {
    max-width: 100%;
    /* margin: 5px; */
    padding: 0;
    height: auto;

    
}

/* For screens smaller than 600px */

.wrap-bar{
    position: fixed;
    background-color: white;
    width: 99.2%;
    height: 50px;
    top: 0;
    /* display: flex; */
    /* justify-content: start; */
    
}

#br {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */

}
#nav{

    display: flex;
    gap: 15px;

}

li{
    display: flex;
    
}

li a:hover {
    background-color: #c6b7b7;
}


