html,
body {
    /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For screens smaller than 600px */

.wrap-bar{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 50px;
    top: 0;
    /* display: flex; */
    /* justify-content: start; */
    
}

#br {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */

}
#nav{

    display: flex;
    gap: 15px;

}

li{
    display: flex;
    
}

li a:hover {
    background-color: #c6b7b7;
}


.container-home {
    padding: 3px;
    /* width: 90vw; */
    /* max-height: fit-content; */
    /*max-width: fit-content; */
}

.home {

    background-image: url(../img/bg1.jpg);
    padding: 20px;
    margin: 3px;
    width: 100vw;
    height: 700px
    /* font-size: x-large; */
    /* align-items: center; */

}

h2 {
    /* font-weight: bold; */
    color: #ffffff;
    /* text-align: center; */
    /* font-size: x-large; */
    padding: 300px;
    margin: 120px;
    /* position: absolute; */
    top:20%;
    /* bottom: -30%; */
    /* right: 40%; */
    left: auto;
    font-size: 50px;

}

#home {
    font-weight: bold;
    /* text-shadow: black; */
    background-color: black;

}

.projects h3 {
    font-size: 30px;
}

.about h3 {
    font-size: 30px;
}

.sub h5 {
    /* float: left; */
    top: 0px;
    background-color: #000000;
    width: 125px;
    height: 30px;
    color: #ffffff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.container-grid {
    width: 98vw;
    display: grid;
    grid-gap: 5px;
}

.col-3 {
    width: 50%;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 50px;
    /* Ensure the columns take the full width of the grid */
}

.row {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.contact h3 {
    font-size: 30px;
    /* width: 100%;
    height: 20px; */
}

.contact p {
    font-size: 25px;
}

input {
    width: 1200px;
    height: 30px;
    margin: 5px;

}

button {
    width: 200px;
    height: 30px;
    background-color: #000000;
    margin: 5px;
    padding: 3px;
    color: #ffffff;
}

.btn {
    background-color: #f1f1f1 !important;
    width: 98%;
    color: #000000;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.btn :hover {
    background-color: #dbd5d5;
}

footer {
    width: 99%;
    height: 50px;
    background-color: #000000;
    margin: 5px;
    padding: 3px;
    color: #ffffff;
    text-align: center;
}


@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .wrap-bar{
        width: 100vw;
    }
    .home{
        width: 100vw;

    }
    .projects{
        text-align: center;
    }
    .container-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .row{
        grid-template-columns: repeat(4, 1fr);
    }

}

/* For screens larger than 600px */
