html,
body {
    max-width: 1500px;
    max-height:auto ;
    width: 100vw;
    margin: 10px;
    padding: 0;
    height: 100vh;
    font-size: 15px;
    
}
/* ...............//NAVBAR\\ ...........*/

.wrap-bar{
    position: fixed;
    background-color: white;
    width: 99%;
    height: 50px;
    top: 0;
    
}
#br {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin: 3px;
    font-size: 20px;

}
#nav{

    display: flex;
    gap: 30px;

}

li{
    /* display: flex; */
    list-style: none;
    
}
.home{
    background-image: url(img/bg1.jpg);
    width: 96%;
    height: 800px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    /* margin: 15px; */
    font-weight: normal;
}
#home{
    color: white;
    background-color: black;
    font-weight: bold;
}
.projects{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.container-grid{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    gap:5px;
    height: auto;
    justify-content: center;
    align-content: center;

}
.col-3{
    margin: auto;
    width: 24%;  
    align-items: center;  
}
.col-3 img{
    width: 100%;
    position: relative;
}
.sub{
    width: 100px ;
    height: 20px;
    background-color: black;
    /* position: ; */
    color: white;
    top: 0;
    padding: 0 5px 0;
    align-items: start;


}
@media (max-width:600px) {
    #nav{
        visibility: hidden;
    }
    #b{
        display: flex;
    }
    .home{
        width: 92%;
        height: 400px;
        border-radius: 3px;
    }
    .home h2{
        /* visibility: hidden; */
    }
}

