* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "karma";
    font-size: 15px;
    line-height: 1.5;
    /* width: 100vw; */
    max-width: 100vw;
    ;
    /* margin: auto; */
}

li {
    list-style: none;
    font-size: x-large;
    text-wrap: nowrap;
    padding: 4px;
}

li:hover {
    background: #cccccc;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;



}

#side {

    padding: auto;
    font-size: 30px;
    margin: auto;
    margin-right: 10px;
    top: 0;
    /* position: absolute; */
    /* display: flex; */
    /* font-weight: normal; */
    /* justify-content: space-between; */
}

.sidenav {
    /* display: flex; */
    /* position: absolute; */
    /* top :15px;
   left: 45px; */
    padding-left: 50px;
    margin-top: 20px;
    width: 25px;
    cursor: pointer;
    transition: left 0.5 ease;
    position: fixed;

}

.sidenav:hover nav {
    transform: translateX(-120%);
    transition: 3s;
}

.nav::before {
    transform: translateX(120%);

}

.nav {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 20vw;
    left: 0;
    padding: 40px;
}

.sidenav .click {
    left: 200px;

}

.sidenav .click a::before {
    content: '\food';
}

.sidenav a {
    color: black;
    /* font-size: 30px; */
    text-decoration: none;
}

/* header .sidenav img {
    width: 50%;
    height: 40px;
} */


.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 5px;
    margin-top: 100px;

}

 .food-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    place-items: start;
}

 .food-menu img {

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.paging {
    display: flex;
    margin: 20px 50px;
    padding: 50px;
    justify-content: center;

}

.paging a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    justify-content: center;
}

.paging a.active {
    color: white;
    background-color: black !important;

}

.paging a:hover {
    background-color: black;
    color: white;
}

.paging a:hover.active {
    background-color: rgb(220, 202, 202);
}

.about {
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.about img {
    width: 100%;
}

.about h3 {
    font-size: 25px;
    margin: 10px;

}

.chef {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 80px;
    width: 89%;
}

.chef h3 {
    font-size: 25px;
    font-family: normal;
    margin: 10px;
}

.footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 20px;
    gap: 20px;
}

.blog {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.one {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* height: 100%; */
}

.footer-footer {
    margin: 0;
}

h3 {
    margin: 0;
    height: fit-content;
    font-family: normal;
}

.one img {
    width: 50px;
    height: 50px;
}

.two {
    width: auto;
    height: auto;
    /* display: flex; */
}

.pop {
    /* display: flex;
    flex-wrap: wrap; */
    /* width: 40%; */
    /* gap: 5px; */
    margin: 0;
}

.pop .butt p {

    margin: 0;

}

.butt {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;


}

#butt {
    background-color: rgb(144, 138, 138);
    color: white;
    width: auto;

}

.b-1 {
    background-color: black !important;
}

.posts {
    margin: 0;
}

@media (max-width: 590px) {
    .header {
        position: fixed;
        width: 60%;
        margin-bottom: 14px;
        /* padding: 0; */

    }

    .container {
        /* display: flex;
        flex-direction: column; */
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 7px;
        padding: 10px;

    }

    .about {
        margin: auto;
    }

    .chef {
        margin: auto;
        padding: auto;
        /* width: fit-content; */
    }

    .paging {
        margin: auto;
        padding: auto;
    }

    .footer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 10px 10px 10px 10px;
        padding: 10px;
    }
}